.container {
  background-color: #e7ecf2;
  padding: 20px;
}
.statsSection {
  background-color: #fff;
  margin: 0 auto;
  max-width: 600px;
}
.title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #5d6d7b;
}
.statList {
  display: flex;
}
.item {
  background-color: #5d6d7b;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100%) / 5);
}
.id-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100%) / 5);
  background-color: #49c8f5;
}
.id-2 {
  composes: id-1;
  background-color: #a43cf2;
}
.id-3 {
  composes: id-1;
  background-color: #e54c68;
}
.id-4 {
  composes: id-1;
  background-color: #20b8c7;
}
.id-5 {
  composes: id-1;
  background-color: #a43cf9;
}
.label {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.percent {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
